# Created by .ignore support plugin (hsz.mobi)
logs
*.log
build
dist
src-gen
node_modules/
*.tsbuildinfo
.env
node_modules
src/types

#Hardhat files
cache
artifacts

data/
.idea/
target/
node_modules
